body{
    background:url("https://orig00.deviantart.net/bf8d/f/2011/170/f/0/magikarp_by_iliketuna-d3jdvph.jpg")    


}
#zen-requirements{
    color: blackS;
    font-family: Comic sans ms;
}
#zen-benefits{
    color: black;
    font-family:Comic sans ms;
}
#topic{
    font-family: brush script mt;
    color:black;
}
#zen-summary{
        font-family:Comic sans ms;

}
#zen-preamble{
        font-family:Comic sans ms;

}
#zen-supporting{
        font-family:Comic sans ms;

}
#zen-participation{
        font-family:Comic sans ms;

}